@using ShopQuocViet.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<TTSach>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav class="mainNav">
                    <ul>
                        @Html.Action("DanhMuc","DanhMucSP")
                    </ul>
                </nav>
            </div>
            <div class="col-md-9">
                <section class="static about-sec">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="container">
                                <a class="breadcrumb-item" href="~/Home/Index">Shop Quốc Việt</a>
                                <a class="breadcrumb-item" href="#">@ViewBag.TenDM</a>
                                <span class="breadcrumb-item active">@ViewBag.TenCD</span>
                            </div>
                        </div>
                        <h2>@ViewBag.TenCD</h2>
                        <div class="recomended-sec">
                            <div class="container">
                                <div class="title">
                                    <div class="row">
                                        @foreach (var item in Model.OrderBy(s => s.SoTrang))
                                        {
                                            <div class="col-lg-3 col-md-12 ParentItem">
                                                <div class="item">
                                                    <a href="@Url.Action("index","ChiTietSP",new {id = @item.MaSach})"><img src="~/Content/images/@item.PathAnh" alt="img"></a>
                                                    <h3>@item.TenSach</h3>
                                                    <h6><span class="price"><strike style="color:#666">@item.GiaBia </strike> @item.GiaBan</span> </h6>
                                                    <p>
                                                        @for (int i = 0; i < Convert.ToDecimal(@item.DanhGia); i++)
                                                        {
                                                            <i class="fa fa-star" style="color:orange" aria-hidden="true"></i>
                                                        }
                                                    </p>
                                                    @Ajax.ActionLink("Thêm", "ThemSP", "GioHang", new { @maSach = item.MaSach }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "ParentItem", InsertionMode = InsertionMode.Replace }, new { @class = "fas fa-shopping-cart", onclick = "myFunction(); loadGH()" })
                                                    <a href="@Url.Action("index","ChiTietSP",new {id = @item.MaSach})"> Mua</a>
                                                </div>
                                            </div>
                                            <div id="snackbar">Bạn đã thêm vào giỏ hàng thành công</div>
                                        }
                                    </div>
                                    <div class="dlink">
                                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @maCD = ViewBag.MaCD }))
                                    </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
       
</div>

</div>

<script>
    function loadGH() {
        setTimeout(function () {
              $.ajax({
                 type: "GET",
                url: '@Url.Action("SoLuongLoaiSach","GioHang")',
                success: function (response) {
                    $(".quntity").html(response);
               }
            },);
        },2000)

    }
</script>