
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ShopQuocViet.Models;
@model List<DanhMuc>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="breadcrumb">
                    <div class="container">
                        <a class="breadcrumb-item" href="ChiTietSP.html">Shop Quốc Việt</a>
                        <span class="breadcrumb-item active">Danh mục sách</span>

                    </div>
                </div>
                <nav class="mainNav">
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li class="selected">
                                <a href="#">@item.TenDM</a>
                                <ul>
                                    @Html.Action("PartialChuDe",new { id = @item.MaDM })
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="col-md-9">
                <section class="static about-sec">
                    <div class="container">
                        <h2>Sách Bán Chạy Nhất Của Shop</h2>
                        <section class="recent-book-sec">
                                <div class="row">
                                    @Html.Action("PartialSachHot")
                                </div>
                                <div class="btn-sec">
                                    <a href="/DanhMucSP/index" class="btn orange-btn">Xem thêm</a>
                                </div>
                       </section>   
                        <h2>Sách mới nhập về</h2>
                        <section class="recent-book-sec">
                            <div class="row">
                                @Html.Action("PartialSachMoiNhat")
                            </div>
                            <div class="btn-sec">
                                <a href="/DanhMucSP/index" class="btn orange-btn">Xem thêm</a>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
