
@{
    Layout = null;
}
@using ShopQuocViet.Models;
@model List<TTSach>


        @{
            foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-12 ParentItem">
                    <div class="item">
                        <a href="@Url.Action("index","ChiTietSP",new {id = @item.MaSach})"><img src="~/Content/images/@item.PathAnh" alt="img"></a>
                        <h3>@item.TenSach</h3>
                        <h6><span class="price"><strike style="color:#666">@item.GiaBia </strike> @item.GiaBan</span> </h6>
                        <p>
                            @for (int i = 0; i < Convert.ToDecimal(@item.DanhGia); i++)
                            {
                                <i class="fa fa-star" style="color:orange" aria-hidden="true"></i>
                            }
                        </p>
                        @Ajax.ActionLink("Thêm","ThemSP","GioHang",new { @maSach = item.MaSach}, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "ParentItem", InsertionMode = InsertionMode.Replace },new { @class = "fas fa-shopping-cart", onclick = "myFunction(); loadGH();" } )
                        <a href="@Url.Action("index","ChiTietSP",new {id = @item.MaSach})"> Mua</a>
                    </div>
                </div>
                <div id="snackbar">Bạn đã thêm vào giỏ hàng thành công</div>
            }
        }

<script>
    function loadGH() {
        setTimeout(function () {
              $.ajax({
                 type: "GET",
                url: '@Url.Action("SoLuongLoaiSach","GioHang")',
                success: function (response) {
                    $(".quntity").html(response);
               }
            },);
        },2000)

    }
</script>
