@model ShopQuocViet.Models.NguoiDung
@{
Layout = "~/Views/Shared/LayoutDangNhap.cshtml";
}
<head>
    <title>Đăng nhập</title>
</head>
    <div class="main-agileits">
        <!--form-stars-here-->
        <div class="form-w3-agile">
            <h2>Đăng Nhập Tài Khoản</h2>
            <form action="~/TaiKhoan/DangNhap" method="post">
                <div class="form-sub-w3">
                    @Html.TextBoxFor(m => m.TenDN, "", new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                    @Html.ValidationMessageFor(m => m.TenDN)
                </div>
                <div class="form-sub-w3">
                   @Html.TextBoxFor(m => m.MatKhau, "", new { @class = "form-control", @placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.MatKhau)
                </div>
                @if(ViewBag.loi != null)
                {
                    <p style="color: red">@ViewBag.loi</p>
                }
                <p class="p-bottom-w3ls1">Bạn chưa có tài khoản?<a href="/TaiKhoan/DangKy"> Đăng ký</a></p>
                <div class="clear"></div>
                <div class="submit-w3l">
                    <input type="submit" value="Đăng Nhập">
                </div>
            </form>
            <div class="social w3layouts">
                <div class="heading">
                    <h5>Đăng nhập với</h5>
                    <div class="clear"></div>
                </div>
                <div class="icons">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

<style>
   .form-sub-w3 span{
       color: red;
    }
</style>

