@using ShopQuocViet.Models
@model List<HoaDon>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row">
            <div class=" col-sm-1">

            </div>
            <div class=" col-sm-10">
                <div style="color: red; text-align:center;">Thông Tin Đơn Hàng</div>
                <br />
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align:center">Mã hóa đơn</th>
                            <th style="text-align:center">Tài khoản </th>
                            <th style="text-align:center">Thanh toán</th>
                            <th style="text-align:center">Trạng thái vận chuyển</th>
                            <th style="text-align:center">Tổng tiền</th>
                            <th style="text-align:center">Sđt</th>
                            <th style="text-align:center">Địa chỉ</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td  style="text-align:center" ><a href="@Url.Action("ChiTietDH", "GioHang", new { MaHD = @item.MaHD, MaND = @item.MaND })"> @item.MaHD</a></td>
                                <td  style="text-align:center">@item.MaND</td>
                                <td  style="text-align:center">@item.ThanhToan</td>
                                <td style="text-align:center">@item.TrangThaiVC</td>
                                <td style="text-align:center">@item.TongTien</td>
                                <td style="text-align:center">@item.SDT</td>
                                <td style="text-align:center">@item.DiaChi</td>
                           </tr>
                        }

                </tbody>
                </table>
                <br />
                <br />
            </div>
            <div class=" col-sm-1">

            </div>
        </div>
    </div>
